### Python template
# Byte-compiled / optimized / DLL files
__pycache__/


# Environment Files (to prevent accidental commit to repo)
*.env

# Testing files and reports
.tox
.pytest_cache
reports/*
!reports/.gitkeep

# Sandbox Files
sandbox/db.sqlite3
sandbox/media/