[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.19"  # https://github.com/requests/requests/
xmltodict = ">=0.11.0"  # https://github.com/martinblech/xmltodict

[dev-packages]
# Django (for testing)
# ------------------------------------------------------------------------------
django = ">=2.1"  # https://github.com/django/django
django-oscar = ">=1.6"  # https://github.com/django-oscar/django-oscar
django-environ = ">=0.4"  # https://github.com/joke2k/django-environ

# Code quality
# ------------------------------------------------------------------------------
coverage = ">=4.5"  # https://github.com/nedbat/coveragepy
pylint = ">=2.1"  # https://github.com/PyCQA/pylint/

# Testing
# ------------------------------------------------------------------------------
pytest = ">=3.7"  # https://github.com/pytest-dev/pytest
pytest-cov = ">=2.5"  # https://github.com/pytest-dev/pytest-cov
tox-pipenv = ">=1.6"  # https://github.com/tox-dev/tox-pipenv
#tox = ">=3.0.0"  # https://github.com/tox-dev/tox/

# Package Documentation
# ------------------------------------------------------------------------------
sphinx = ">=1.7"  # https://github.com/sphinx-doc/sphinx
sphinx-autobuild = ">=0.7"  # https://github.com/GaretJax/sphinx-autobuild
sphinx_rtd_theme = ">=0.4"  # https://github.com/rtfd/sphinx_rtd_theme

[requires]
python_version = "3.6"
