[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
# Django (for testing)
# ------------------------------------------------------------------------------
django = ">=2.1"  # https://github.com/django/django
django-oscar = ">=1.6"  # https://github.com/django-oscar/django-oscar

# Code quality
# ------------------------------------------------------------------------------
coverage = ">=4.5" # https://github.com/nedbat/coveragepy
pylint = ">=2.1"  # https://github.com/PyCQA/pylint/

# Package Documentation
# ------------------------------------------------------------------------------
sphinx = ">=1.7" # https://github.com/sphinx-doc/sphinx
sphinx-autobuild = ">=0.7"  # https://github.com/GaretJax/sphinx-autobuild
sphinx_rtd_theme = ">=0.4"  # https://github.com/rtfd/sphinx_rtd_theme

[requires]
python_version = "3.6"
