{% load i18n %}

<h1>Helcim Commerce API Transaction Detail</h1>

<table>
  <tbody>
    <tr>
      <th>{% trans "Helcim transaction ID" %}</th>
      <td>{{ transaction.transaction_id }}</td>
    </tr>
  </tbody>
</table>

<!-- TODO: Add buttons here to do additional functions (capture, refund) -->
<form method="post" action=".">
    {% csrf_token %}
    <button {% if not transaction.can_be_refunded %}disabled="disabled"{% end if %} type="submit" name="action" value="refund">{% trans "Refund" %}</button>
    <button {% if not transaction.can_be_captured %}disabled="disabled"{% end if %} type="submit" name="action" value="capture">{% trans "Capture" %}</button>
</form>
