{% extends 'oscar/checkout/payment_details.html' %}

{% load i18n %}

{% block payment_details %}
  <div class="well">
    <form method="post" action="{% url 'checkout:preview' %}" class="form-stacked">
      {% csrf_token %}

      <h3>{% trans "Credit Card Details" %}</h3>
      {% include "partials/form_fields.html" with form=bankcard_form %}

      <h3>{% trans "Billing address" %}</h3>
      {% include "partials/form_fields.html" with form=billing_address_form %}

      <div class="form-actions">
        <button type="submit" class="btn btn-large btn-primary">
          {% trans "Continue" %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}
